.centered {
    text-align: center;
}

body {
    background-color: rgba(244, 173, 31, 0.964);
    border-style: solid;
}

tr,td {
    
    border: 2px solid
}

th{
    background-color: rgb(167, 157, 144);
    border: 2px solid;
}

.leftAlign {
    float: left;
}